@import url('https://fonts.googleapis.com/css?family=Lato:400,700|Rajdhani:500,600,700');


/* All Devices */



/* Smartphones (portrait and landscape) ----------- */




@media only screen and (min-device-width : 320px) and (max-device-width : 480px)
{
		.knowMore
		{
			/*font-weight: bold;*/
			color: #009eed;
		}

		.boxed-layout-small .container
		{
			/*margin-left: 3vw;*/
    		/*margin-right: 10px;*/
    		max-width: 90vw;
		}

		.container.clearfix
		{
			margin-left: 5px;
			/*margin-right: 3vw;*/
		}


		.header-image 
		{
		    max-width: 100vw;
		    width: 100vw;
		}


		#masthead
		{
			margin-left: -5vw;
		}


		#content 
		{
    		padding: 10vw 0 0 0;
		}

		aside#search-19.widget.widget_search
		{
			width: 85vw;
		}

		#page
		{
			margin: 0px;
		}

		#contactMeHeading
		{
			font-weight: normal;
		}
		
		b
		{
			color: #555;
			/*//font-weight: 400;*/
		}

		.fa-play:before
		{
			font-size: 9px;
			opacity: 0.8;
		}


		.bulletText a, .resumeSemiHeading a, .resumeFont a
		{
			font-weight: bold;
			color: #000;
			opacity: 0.7;
		}

		a:hover
		{
			color: #009eed;
			cursor: pointer;
		}

		.mobileShow2.menu-item.menu-item-type-custom.menu-item-object-custom.menu-item-2568
		{
			display: none;
		}

		.mobileShow2
		{
			display: none;
		}

		.mobileShow3
		{
			display: none;
		}

		.sectionInfo-resume 
		{
			margin: 0 0 10px 0;
		}


/*		// #primary
		// {
		//	color: #434343;
		// }*/
		
		#rightSide
		{
/*			// background-color: green;
			// float: right;*/
			width: 100%;
		}


		#leftSide
		{
/*			// float: left;
			// background-color: blue;*/
			width: 100%;
		}


		.resumeFont
		{
		    font-size: 14px;
		    font-weight: normal;
		}


		#resumeRight
		{
			/*// background-color: rgba(0,0,255,0.1);*/
			float: right;
			width: 100%;
			z-index: -5;
		}


		#resumeLeft
		{
			float: left;
			width: 100%;
			/*// background-color: rgba(255,0,0,0.1);*/
			padding-right: 20px;
			z-index: -5;
		}


		#portfolioimages:hover
		{
			opacity: 0.7;
			transition: all 0.3s;
		}

		#resumeContactStuff
		{
			font-size: 15px;
		}

		.dot
		{
			color: #4185c3;
		}

		#bottomContactInfo
		{
			font-size: 15px;
		}

		.themeBold
		{
				font-weight: 900;
				color: #434343;
		}

		.themeBold:hover
		{
				color: #009eed;
				font-weight: 900;
		}

		.themenotsoBold
		{
				font-weight: normal;
				color: #434343;
		}

		.themenotsoBold:hover
		{
				color: #009eed;
				font-weight: 700;
				cursor: pointer;
		}


		.themeDot
		{
/*			// font-size: 25px;
			// color: #009eed;*/
			
		}


		
		.themeDot:hover
		{
/*			// font-size: 33px;
			// color: #009eed;
			// transition: all 0.5s;*/
		}
		

		.themeBullet
		{
			color: #009eed;
			font-size: 14px;
			float: left;
		}

		.bulletText
		{
			margin-left: 15px;
		}

		.themeBullet:hover
		{
/*			// color: #009eed;
			// font-size: 23px;*/
		}
		

		#colophon .widget-area 
		{
			padding: 20px 0 20px;
		}



		#resumeSummary
		{
/*			// margin-right: 17px;
			// margin-left: 17px;
*/			font-style: italic;
			font-size: 14px;
		    margin-top: -10px;
		    margin-bottom: 10px;
		    color: #555;
		}

		.resumeHeading
		{
			font-family: 'Rajdhani';
			text-transform: uppercase;
			font-weight: 900;
			font-size: 21px;
			margin-bottom: 5px;
			margin-top: 15px;

		}


		.resumeSemiHeading 
		{
			font-family: 'Rajdhani';
			font-weight: 700;
		    font-size: 16px;
		    text-transform: uppercase;
		    letter-spacing: 1px;
		    color: #333;
		}


		.resumeDateHeading
		{
			color: #666;
			font-family: 'Rajdhani';
			font-weight: 500;
			font-size: 14px;

		}



		.mobileShow
		{
			display: none;
			color: #009eed; 
			font-size: 15px;
		}

		.mobileShow1
		{
			display: inline;
			font-weight: 900;
			font-size: 15px;
		}

		
		.mobileHide
		{
			display: inline;
		}

		.resumeSemiDateHeading
		{
			font-weight: 900;
			font-size: 15px;
			color: #009eed; 
		}




		#sticky_header_resume_mobile
		{
			background-color: #fff;
		    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		    width: 100%;
		    z-index: 999;
		    margin-top: 50px;
		}

		#sticky_header_resume_desktop
		{
			display: none;
		}


		.resume-icons 
		{
			font-size: 12px;
		}


		#contactMeDrop
		{
			/*// display: none;*/
		}


		.fa-envelope:before
		{
		    font-size: 12px;
		}


		.fa-twitter:before
		{
		    font-size: 13px;
		}


		.fa-phone:before 
		{
		    font-size: 13px;
		}

		#contactMeHeading
		{
			z-index: 2000;
		}



}






















































































































































































































































































































































/* Desktop ----------- */
@media only screen and (min-device-width : 1440px) and (max-device-width : 2800px)
{

		#contactMeHeading
		{
			z-index: 2000;
			font-weight: normal;
			color: black;
		}


		.themenotsoBold
		{
				font-weight: normal;
				color: #434343;
				opacity: 0.7;
		}

		.themenotsoBold:hover
		{
				color: #009eed;
				cursor: pointer;
				font-weight: 700;
		}


		b
		{
			color: #555;
			/*font-weight: 400;*/
		}

		.bulletText a, .resumeSemiHeading a, .resumeFont a
		{
			font-weight: bold;
			color: #555;
		}

		a:hover
		{
			color: #009eed;
			cursor: pointer;
		}

	

		body.c3 {
		    background-color: #ffffff;
		    max-width: 1000px;
		    padding: 0px;
		}


		.container
		{
			width: 800px;
		}

		


		.sectionInfo-resume 
		{
			margin: 0 0 10px 0;
		}


		/*#primary
		{
			color: #434343;
		}
		*/
		#rightSide
		{
			/*background-color: green;*/
			float: right;
			width: 60%;
		}


		#leftSide
		{
			float: left;
			/*background-color: blue;*/
			width: 40%;
		}


		.resumeFont
		{
		    font-size: 14px;
		    font-weight: normal;
		}


		#resumeRight
		{
			/*background-color: rgba(0,0,255,0.1);*/
			float: right;
			width: 47%;
			z-index: -5;
		}


		#resumeLeft
		{
			float: left;
			width: 53%;
			/*background-color: rgba(255,0,0,0.1);*/
			padding-right: 20px;
			z-index: -5;
		}


		#portfolioimages:hover
		{
			opacity: 0.7;
			transition: all 0.3s;
		}

		#resumeContactStuff
		{
			font-size: 15px;
		}

		.dot
		{
			color: #4185c3;
		}

		#bottomContactInfo
		{
			font-size: 15px;
		}

		.themeBold
		{
				font-weight: 900;
				color: #434343;
		}

		.themeBold:hover
		{
				color: #009eed;
				font-weight: 900;
		}


		.themeDot
		{
			font-size: 29px;
			color: #009eed;
		}


		/*
		.themeDot:hover
		{
			font-size: 33px;
			color: #009eed;
			transition: all 0.5s;
		}
		*/

		.themeBullet
		{
			color: #009eed;
			font-size: 17px;
			/*float: left;*/
/*			width: 0;
			height: 0;
			border-top: 3px solid transparent;
			border-left: 6px solid #555;
			border-bottom: 3px solid transparent;*/
		}

		.bulletText
		{
			margin-left: 20px;
			margin-top: -27px;
		}



		#resumeSummary
		{
/*			margin-right: 17px;
			margin-left: 17px;*/
			font-style: italic;	
			font-size: 15px;
		    margin-top: -10px;
		    margin-bottom: 10px;
		    color: #555;
		}

		.resumeHeading
		{
			font-family: 'Rajdhani';
			text-transform: uppercase;
			font-weight: 900;
			font-size: 20px;
			margin-bottom: 5px;
			margin-top: 15px;

		}


		.resumeSemiHeading 
		{
			font-family: 'Rajdhani';
			font-weight: 700;
		    font-size: 16px;
		    text-transform: uppercase;
		    letter-spacing: 1px;
		    color: #333;
		}


		.resumeDateHeading
		{
			color: #666;
			font-family: 'Rajdhani';
			font-weight: 500;
			font-size: 14px;

		}

		.mobileShow, .mobileShow1
		{
			display: none;
		}

		.mobileShow2
		{
			display: inline;
		}

		.mobileShow3
		{
			display: inline;
		}

		.resumeSemiDateHeading
		{
			font-weight: 900;
			font-size: 15px;
			color: #009eed; 
		}



		#sticky_header_resume_desktop
		{
			background-color: #fff;
		    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		    width: 100%;
		    z-index: 999;
		    margin-top: 1090px;
		}

		#sticky_header_resume_mobile
		{
			display: none;
		}

		.resume-icons 
		{
			font-size: 12px;
		}


		#contactMeDrop
		{
			/*display: none;*/
		}


		.fa-envelope:before
		{
		    font-size: 12px;
		}


		.fa-twitter:before
		{
		    font-size: 13px;
		}


		.fa-phone:before 
		{
		    font-size: 13px;
		}


		.fa-play:before
		{
			font-size: 9px;
			opacity: 0.8;
		}


}



