@import url(https://fonts.googleapis.com/css?family=Lato:400,700,900);

body
{
	color: black;
	margin: auto;
	width: 100%;
	display: block;
	font-family: Lato;
	/*background-repeat: no-repeat;*/
	background-size: 1500px;
	margin: auto;
	transition: background-color 0.5s;
}

.nav
{
    margin-right: 2%;
    padding: 10px 15px 10px 15px;
    border: black;
    border-radius: 400px;
    font-size: 1em;
    text-align: center;
    font-family: Lato;
    background-color: white;
    color: #999;
    cursor: pointer;
    border: 1px solid #999;

}

.hash
{
    margin-right: 2%;
    padding: 10px 15px 10px 15px;
    border: black;
    border-radius: 400px;
    font-size: 1em;
    text-align: center;
    font-family: Lato;
    background-color: white;
    color: #999;
    cursor: pointer;
    /*border: 1px solid #999;*/

}

button:hover
{
	color: white;
	background-color: #aaa;
	/*border: 1px solid #fff;*/
    transition: all 0.3s;
}



#container
{
	position: absolute;
    margin-top: 5%;
    width: 50%;
    /*text-align: center;*/
    right: 20%; left: 20%;
    /*float: left;*/
}

#hashtags
{
	float: left;
	width: 70%;
	padding-bottom: 10%;
	text-transform: lowercase;
}

#quotes
{
	padding: 5% 0% 1% 0%;
}

#navbuttons
{
	float: left;
	width: 20%;
	bottom: 20%;
	position: absolute;
    /*text-align: center;*/
    right: 20%; left: 20%;
    /*float: left;*/

}

.nav:hover
{
	color: white;
	background-color: #aaa;
	border: 1px solid #fff;
}


