
body 
{
    background-color: #fff;
    font-family: Courier New;
    color: #434343;
    /* margin: 5%; */
    width: 50%;
    margin: auto;
    margin-top: 5%;
}

a
{
	text-decoration: none;
	color: #434343;
}

a:hover
{
	color: #009eed;	
}
.heading
{
	text-align: center;
}

.highlight
{
	color: #009eed;
	font-weight: bold;
}
