@import url('https://fonts.googleapis.com/css?family=Gloria+Hallelujah');

body
{
/*	height: 100vh;
	width: 100vw; 
*/  background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    /*transition: all 0.1s;*/
    font-family: 'Gloria Hallelujah', cursive;
}


#names
{
	font-size: 30px;
	margin-left: 20px;
	padding: 20px;
	color: #cccccc;
	position: absolute;
	text-shadow: 4px 4px 5px #aaaaaa;
}

.names
{
	font-size: 30px;
	margin-left: 20px;
	padding: 20px;
	color: #cccccc;
	position: absolute;
	text-shadow: 4px 4px 5px #aaaaaa;
}

#mainImage
{
	height: 110vh;
	width: 100vw; 
	z-index: -800
	position: absolute;
	opacity: 1;
}

#spookImage
{
	background-color: black;
	height: 110vh;
	width: 100vw; 
	z-index: -999
	position: absolute;
}

	

#test
{
	background-color: red;
	border-radius: 100%;
	height: 50px;
	width: 50px;
	position: absolute;
}


#button1, #button2, #button3
{
	background-color: orange;
	border-radius: 100%;
	height: 14vh;
	width: 9vw;
	position: absolute;
	cursor: pointer;
	opacity: 0.0;
}

#button1
{
	top: 27vw;
	left: 8vw;
}

#button2
{
	top: 27vw;
	left: 90vw;	
}

#button3
{
	top: 99vh;
	left: 46vw;	
}

#button1:hover, #button2:hover, #button3:hover
{
	opacity: 0.1;
	cursor: pointer;
}


#eye1, #eye2, #mouth, #nose
{
	visibility: hidden;
}



#eye1, #eye2
{
	height: 6vh;
	width: 6vh;
	position: absolute;
	/*visibility: hidden;*/
}

#eye1
{
	top: 29vw;
	left: 45vw;
}

#eye2
{
	top: 29vw;
	right: 47vw;
}

#mouth
{
	height: 9vh;
	width: 14vh;
	top: 33vw;
	right: 48vw;
	position: absolute;
	/*visibility: hidden;*/
}

#nose
{
	height: 5vh;
	width: 5vh;
	top: 31.5vw;
	right: 50vw;
	position: absolute;
}










