@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body
{
	font-family: 'Lato', sans-serif;
	background-color: #ffcc99;
	color: #555;
}

a
{
	color: white;
}

#myform
{
	/*position: fixed;*/
}


#logo
{
    margin-top: -200px;
    margin-left: 120px;
    font-weight: 900;
    font-size: 70px;
    color: white;
}

#noInput
{
	margin: auto;
	margin-top: -40px;
}

.input-field input[type=search]
{
	color: white;
}

/*#dot
{
	color: #f44335;
}*/

#search
{
	width:300px;
	height:150px;
	margin:auto;
	padding:15px;
	position: fixed;
	left: 30vw;
    right: 30vw;
    top: 3vh;
}

#mainbar
{
    display: flex;
    flex-direction: row;
    position: fixed;
}



#generate
{
	margin-left: 2vw;
    margin-top: -16.5vh;
    background-color: #f44335;
}

img[id*='thumbnail']
{
	width: 150px;
	height: 200px;
	margin: auto;
	/*filter: blur(2px);*/
	/*filter: saturate(800%);*/
}

#mainSearchButton
{
	/*position:relative;*/
	/*margin: auto;*/
	/*display: block;*/
	margin-left: 20vw;
    margin-top: -15vh;
    background-color: #f44335;
}

#cartButton
{
	margin-left: 50vw;
    margin-top: -16.5vh;
    background-color: #f44335;
}

button[id*='selectButton'], button[id*='deleteButton']
{
	/*position:relative;*/
	margin-top:20px;
	cursor: pointer;
	background-color: #f44335;
}

button[id*='selectButton']:hover, #cartButton:hover, #generate:hover, button[id*='deleteButton']:hover
{
  	background-color: #eeeeee;
  	transition: 0.9s;
  	color: black;
  	cursor: pointer;
}

#result
{
	margin-top:25vh;
	display: flex;
  	flex-direction: row;
}


div[id*='bookInfo'] 
{
	/*margin-top:500px;*/
	display: flex;
  	flex-direction: column;
  	max-width: 40vw;
  	padding: 3vw;
  	transition: all 0.3s;
}

div[id*='bookInfo']:hover 
{

  	background-color: #777	;
  	transition: 0.3s;
  	border-radius: 20px;
  	color: white;
}

img[id*='collageThumbnail'] 
{
	padding: 3px;
	position: relative;
	
	border-radius: 100%;
	width: 5vw; height: 5vw;
	/*width: 5vw; height: 13vh;*/
	transition: 0.5s;
}

#collage
{
	position: absolute;
	margin: auto;
	margin-left: 11%;
	margin-top: 5%;
	height: 45vh;
  padding: 30px;
  border-style: solid;
  border-width: 15px;
  border-color: #000;
  /*border-top-color: lighten(#999, 20%);
  border-right-color: lighten(#999, 0%);
  border-bottom-color: lighten(#999, 20%);
  border-left-color: lighten(#999, 0%);
  */box-shadow: 4px 4px 8px rgba(0,0,0,.6);

  background-color: #fff;
}

#frameColour
{
	/*background-color: white;*/
	/*left: 50%;*/
	float: right;
	margin-right: 50px;
	margin-top: 100px;	
}

input.frameRadio
{
	background-color: white;
	margin: 5px;
}

label
{
	padding-right: 20px;
	color: #555;
	font-size: 10px;
}



#frameLabel
{
	font-size: 18px;
    position: absolute;
    float: right;
    margin-top: 65px;
    margin-left: 70%;
    transition: 1.5s;
}

#frameBackgroundLabel
{
	font-size: 18px;
    position: absolute;
    float: right;
    margin-top: 145px;
    margin-left: 70%;
    transition: 1.5s;	
}

#frameBackgroundColour
{
	float: right;
	margin-right: -275px;
	margin-top: 180px;	
}





#imageEffectsLabel
{
	font-size: 18px;
    position: absolute;
    float: right;
    margin-top: 235px;
    margin-left: 70%;
    transition: 1.5s;
}

#imageEffects
{
	font-size: 18px;
    position: absolute;
    float: right;
    margin-top: 270px;
    margin-left: 70%;
    transition: 1.5s;	
}

/*#imageEffects
{
	float: right;
	margin-right: -275px;
	margin-top: 180px;	
}
*/



.shapeToggle
{
  position: absolute;
  display: inline-block;
  width: 60px;
  height: 30px;

  float: right;
  margin-top: 330px;
  margin-left: 70%;
}


#shapeLabel
{
	font-size: 18px;
	position: absolute;
	float: right;  	
  	margin-top: 330px;
  	margin-left: 75%;
}


.shapeToggle input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  height: 35px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;


}

input:checked + .slider 
{
  border-radius: 0px;
}

input:focus + .slider 
{
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before 
{
  transform: translateX(26px);
    border-radius: 0px;
}

/* Rounded sliders */
.slider.round 
{
  border-radius: 34px;
  background-color: #f44335; 

}

.slider.round:before 
{
  border-radius: 50%;
}
