
#myform
{
	/*position: fixed;*/
}


#search
{
	width:300px;
	height:150px;
	margin:auto;
	padding:15px;
	position: fixed;
	left: 30vw;
    right: 30vw;
    top: 3vh;
}

#mainbar
{
    display: flex;
    flex-direction: row;
    position: fixed;
}

#cartButton
{
	margin-left: 70vw;
    margin-top: -15vh;
    background-color: #f44335;
}

#generate
{
	margin-left: 2vw;
    margin-top: -15vh;
    background-color: #f44335;
}

img[id*='thumbnail']
{
	width: 150px;
	height: 200px;
	margin: auto;
	/*filter: blur(2px);*/
	/*filter: saturate(800%);*/
}

#mainSearchButton
{
	position:relative;
	margin: auto;
	display: block;
}


button[id*='selectButton'], button[id*='deleteButton']
{
	/*position:relative;*/
	margin-top:20px;
	cursor: pointer;
	background-color: #f44335;
}

button[id*='selectButton']:hover, #cartButton:hover, #generate:hover, button[id*='deleteButton']:hover
{
  	background-color: #eeeeee;
  	transition: 0.9s;
  	color: black;
  	cursor: pointer;
}

#result
{
	margin-top:25vh;
	display: flex;
  	flex-direction: row;
}


div[id*='bookInfo'] 
{
	/*margin-top:500px;*/
	display: flex;
  	flex-direction: column;
  	max-width: 40vw;
  	padding: 3vw;
  	transition: all 0.9s;

}

div[id*='bookInfo']:hover 
{

  	background-color: #333333;
  	transition: 0.7s;
  	border-radius: 20px;
}

img[id*='collageThumbnail'] 
{
	padding: 3px;
	width: 5vw; height: 14vh;
	/*position: relative;*/
}

#collage
{
	position: absolute;

  	margin: auto;
	margin-left: 11%;
	margin-top: 5%;

  padding: 30px;
  border-style: solid;
  border-width: 15px;
  border-top-color: lighten(#999, 20%);
  border-right-color: lighten(#999, 0%);
  border-bottom-color: lighten(#999, 20%);
  border-left-color: lighten(#999, 0%);
  box-shadow: 2px 2px 4px rgba(0,0,0,.6);

}





/*

.aligning
{
	margin-left:0px;
	margin-top:20px;
}


*/



