@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display+SC');
@import url('https://fonts.googleapis.com/css?family=Vidaloka');


/*font-family: 'Playfair Display SC', serif;*/

body
{
	height: 100%;
	width: 100%; 
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Lato', sans-serif;
    transition: all 1s;
}


h1
{
	color: white;
	text-align: center;
	/*font-family: 'Lato', sans-serif;*/
	text-transform: uppercase;
	/*transition: all 1s;*/
}

p
{
	color: white;
	margin-top: 30vw;
	position: absolute;
}

#built-info
{
	float: right;
	margin-left: 10vw;
	margin-right: 10vw;
	padding: 10px;
	background-color: #333333;
	opacity: 0.5;
	letter-spacing: 1px;
	transition: all 0.5s;
}

#hashtags
{
	text-transform: uppercase;
	letter-spacing: 3px;
	margin-top: 30vw;
	position: absolute;
	margin-left: 70vw;
	transition: all 1s;
}


#hash1, #hash2, #hash3
{
	background-color: #333333;
	opacity: 0.5;
	padding: 10px;
}

#hash1:hover, #hash2:hover, #hash3:hover, #built-info:hover
{
	background-color: black;
	opacity: 1;
	transition: all 0.5s;
}


#toggle-word
{
	font-size: 17px;
	opacity: 0.9;
}


#toggle-word:hover, #world:hover
{
	transition: all 0.5s;
	font-weight: bolder;
	font-size: 25px;
	text-shadow: 2px 2px #666666;

}


#main-title
{
	opacity: 0.7;
	letter-spacing: 30px;
	font-size: 15px;
}


#main-title:hover
{
	opacity: 1;
	transition: all 0.5s;
	font-size: 17px;
}


#wonder-title
{
	opacity: 0.7;
	font-weight: bold;
	margin-top: 73vh;
	font-size: 100px;
}


#wonder-title:hover
{	
	opacity: 1;
	transition: all 0.5s;
}







